body {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.image-comparator {
    position: relative;
    overflow: hidden;
    border: 2px dashed #ccc; /* Dashed border for the drop area */
    padding: 20px;
    height: 100px;
    text-align: center; /* Center text */
    background-color: #fff; /* Background color */
}

.image-wrapper {
    position: relative;
    width: 100%;
}

#image1,
#image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.3s;
}

#image2 {
    clip-path: inset(0 50% 0 0);
}

#slider {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #ff0000;
    z-index: 2;
    cursor: ew-resize;
  }  

input[type="range"] {
    width: 100%;
    margin-top: 20px;
}

.hidden {
    display: none; /* Class to hide elements */
}

.drop-area {
    background-color: #f9f9f9; /* Background for drop area */
}

.footer {
    position: relative; /* Allow footer to be pushed down by content */
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(92, 92, 92);
    text-align: center;
    padding: 1em;
    background-color: #f4f4f4;
    margin-top: auto;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#thumbnail {
    max-width: 200px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; 
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.match {
    color: rgb(0, 179, 0);
}
.diff {
    color: rgb(212, 0, 0);
}

.image-name {
    position: absolute;
    font-size: 16px;
    color: #fff; /* Change to white for better visibility */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px;
    border-radius: 3px;
  }
  
  .top-left {
    top: 10px; /* Adjust this value as needed */
    left: 10px; /* Adjust this value as needed */
    z-index: 2;
  }
  
  .top-right {
    top: 10px; /* Adjust this value as needed */
    right: 10px; /* Adjust this value as needed */
    z-index: 2;
  }